<?xml version="1.0"?>
<config>
	<modules>
		<Zeo_Actions>
			<version>1.0.0</version>
		</Zeo_Actions>
	</modules>
	<!--<global>
	<events>
	<customer_save_after>
	<observers>
	<customeractivation>
	<type>model</type>
	<class>Zeo_Actions_Model_Observer</class>
	<method>afterCustomerRegister</method>
	</customeractivation>
	</observers>
	</customer_save_after>
	</events>
	</global>
	-->
	<frontend>
		<events>
			<customer_register_success>
				<observers>
					<actions_customer_register_success>
						<type>singleton</type>
						<class>Zeo_Actions_Model_Observer</class>
						<method>afterCustomerRegister</method>
					</actions_customer_register_success>
				</observers>
			</customer_register_success>
			<customer_login>
				<observers>
					<actions_customer_login>
						<type>singleton</type>
						<class>Zeo_Actions_Model_Observer</class>
						<method>customerLogin</method>
					</actions_customer_login>
				</observers>
			</customer_login>
			<catalog_product_is_salable_after>
				<observers>
					<actions_catalog_product_is_salable_after>
						<class>Zeo_Actions_Model_Observer</class>
						<method>catalog_product_is_salable_after</method>
					</actions_catalog_product_is_salable_after>
				</observers>
			</catalog_product_is_salable_after>
			<catalog_product_collection_load_after>
				<observers>
					<actions_catalog_product_collection_load_after>
						<type>model</type>
						<class>Zeo_Actions_Model_Observer</class>
						<method>afterCollectionLoad</method>
					</actions_catalog_product_collection_load_after>
				</observers>
			</catalog_product_collection_load_after>
			
		</events>
	</frontend>
	<global>
		<template>
			<email>
				<action_customer_create_account_email_template translate="label" module="actions">
					<label>New account</label>
					<file>zeo/actions/account_new.html</file>
					<type>html</type>
				</action_customer_create_account_email_template>
               <action_notify_customer_activate_email_template translate="label" module="actions">
					<label>Account Activated</label>
					<file>zeo/actions/account_activated.html</file>
					<type>html</type>
				</action_notify_customer_activate_email_template>
				<action_notify_customer_deactivate_email_template translate="label" module="actions">
					<label>Account Deactivated</label>
					<file>zeo/actions/account_deactivated.html</file>
					<type>html</type>
				</action_notify_customer_deactivate_email_template>
			</email>
		</template>
		<events>
			<customer_save_after>
				<observers>
					<actions_customer_save_after>
						<type>model</type>
						<class>Zeo_Actions_Model_Observer</class>
						<method>AfterSaveCustomer</method>
					</actions_customer_save_after>
				</observers>
			</customer_save_after>	
			<catalog_product_type_prepare_full_options>
				<observers>
					<actions_catalog_product_type_prepare_full_options>
						<class>Zeo_Actions_Model_Observer</class>
						<method>functionBeforeAddProductToCart</method>
					</actions_catalog_product_type_prepare_full_options>
				</observers>
			</catalog_product_type_prepare_full_options>
			
			<controller_action_predispatch>
				<observers>
					<actions_controller_action_predispatch>
						<type>singleton</type>
						<class>Zeo_Actions_Model_Observer</class>
						<method>customer_account_create_action</method>
					</actions_controller_action_predispatch>
				</observers>
			</controller_action_predispatch>
        
			
		</events>
		<models>
			<actions>
				<class>Zeo_Actions_Model</class>
				<resourceModel>actions_resource</resourceModel>
			</actions>
			<actions_resource>
				<class>Zeo_Actions_Model_Resource</class>
			</actions_resource>
		</models>
		<resources>
		
			<zeo_actions_setup>
				<setup>
					<module>Zeo_Actions</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</zeo_actions_setup>
			<zeo_actions_setup>
				<connection>
					<use>core_write</use>
				</connection>
			</zeo_actions_setup>
			<zeo_actions_setup>
				<connection>
					<use>core_read</use>
				</connection>
			</zeo_actions_setup>
		</resources>
		<helpers>
			<actions>
				<class>Zeo_Actions_Helper</class>
			</actions>
		</helpers>
	</global>
	<admin>
		<routers>
			<actions>
				<use>admin</use>
				<args>
					<module>Zeo_Actions</module>
					<frontName>actions</frontName>
				</args>
			</actions>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<actions_core_block_abstract_to_html_before>
						<type>model</type>
						<class>Zeo_Actions_Model_Adminhtml_Observer</class>
						<method>addActionColumn</method>
					</actions_core_block_abstract_to_html_before>
				</observers>
			</core_block_abstract_to_html_before>
            
			<core_block_abstract_prepare_layout_before>
				<observers>
					<actions_core_block_abstract_prepare_layout_before>
						<type>model</type>
						<class>Zeo_Actions_Model_Adminhtml_Observer</class>
						<method>addMassAction</method>
					</actions_core_block_abstract_prepare_layout_before>
				</observers>
			</core_block_abstract_prepare_layout_before>
           
		</events>
	</adminhtml>
</config>